{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "wesbos",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "prettier/prettier": "warn",
        "global-require": "off",
        "lines-between-class-members": "off",
        "no-eval": "warn",
        "no-use-before-define": "off",
        "class-methods-use-this": "off"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            }
        }
    }
}