{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "wesbos"
    ],
    "rules": {
        "global-require": "off",
        "lines-between-class-members": "off"
    }
}